html {
	height: 100%;
	font-size: 16px;
	font-family: arial;
}
body {
	height: 100%;
	margin: 0;
}
#interface {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	& > header, & > footer {
		padding: .5em 1em;
		background-color: #EEE;
		display: flex;
		justify-content: space-between;
	}
	& > header {
		order: -1000;
		h1 {
			margin: 0;
		}
	}
	& > footer {
		order: 1000;
		font-size: smaller;
	}
}

#app {
	padding: 1em;
	background-color: #bd3b32;
	background-image: linear-gradient(to bottom, #bd3b32 33%, black 67%);
}
#assurance-maladie {
	display: grid;
	padding: 1em;
	width: 14em;
	margin: 0 auto;
	background-color: #FFFC;
	border: 2px solid black;
	& > div {
		display: contents;
	}
	fieldset {
		padding: 0;
		margin: 0;
		border: none;
	}
	label[for] {
		font-weight: bold;
	}
}
#resultat {
	text-align: center;
	color: white;
}
#nam {
	font-size: 3em;
	font-weight: bold;
}